<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5" debug="false">

	<Property name="log.base" value="log/" />

	<!--console -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%date{yyyyMMdd HHmmss SSS}][%-5p][%t][%c{0}] - %m%n
			</pattern>
		</encoder>
	</appender>

	<!-- detail log -->
	<appender name="detail"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.base}detail.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}detail.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>[%date{yyyyMMdd HHmmss SSS}][%-5p][%t][%c{0}] - %m%n
			</pattern>
		</encoder>
	</appender>


	<logger name="limitOutLog" additivity="false">
		<appender name="limitOutLog"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${log.base}limitOutLog.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>${log.base}limitOutLog.%d{yyyy-MM-dd}.log
				</FileNamePattern>
			</rollingPolicy>
			<encoder>
				<pattern>%m%n</pattern>
			</encoder>
		</appender>
	</logger>
 
	<logger name="java.sql.Connection" additivity="false">
		<level value="debug" />
	</logger>

	<logger name="java.sql.PreparedStatement" additivity="false">
		<level value="debug" />
	</logger>

	<root level="info">
		<appender-ref ref="stdout" />
		<appender-ref ref="detail" />
	</root>

</configuration>